In [1]:
# data loading

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# training data
data = pd.read_table('train.txt',header=None,sep=' ')

In [3]:
df = data.drop([26, 27], axis=1)

In [4]:
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [5]:
df.columns = ['id','cycle','setting1','setting2','setting3','s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']

In [6]:
df.head(10)

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,10.0047,0.2501,20.0,489.05,604.13,1499.45,1309.95,10.52,...,372.15,2388.13,8120.83,8.6216,0.03,368,2319,100.0,28.58,17.1735
1,1,2,0.0015,0.0003,100.0,518.67,642.13,1584.55,1403.96,14.62,...,521.81,2388.15,8132.87,8.3907,0.03,391,2388,100.0,38.99,23.3619
2,1,3,34.9986,0.8401,60.0,449.44,555.42,1368.17,1122.49,5.48,...,183.26,2387.95,8063.84,9.3557,0.02,334,2223,100.0,14.83,8.8555
3,1,4,20.0031,0.7005,0.0,491.19,607.03,1488.44,1249.18,9.35,...,314.84,2388.07,8052.30,9.2231,0.02,364,2324,100.0,24.42,14.7832
4,1,5,42.0041,0.8405,40.0,445.00,549.52,1354.48,1124.32,3.91,...,130.44,2387.89,8083.67,9.2986,0.02,330,2212,100.0,10.99,6.4025
5,1,6,20.0032,0.7017,0.0,491.19,607.37,1480.46,1258.90,9.35,...,315.36,2388.05,8053.17,9.2276,0.02,364,2324,100.0,24.44,14.7019
6,1,7,41.9998,0.8400,40.0,445.00,549.57,1354.43,1131.44,3.91,...,130.16,2387.88,8082.01,9.3753,0.02,331,2212,100.0,10.53,6.4254
7,1,8,0.0011,0.0000,100.0,518.67,642.08,1589.55,1407.59,14.62,...,521.74,2388.03,8133.29,8.4339,0.03,391,2388,100.0,38.98,23.2337
8,1,9,0.0011,0.0020,100.0,518.67,642.70,1586.18,1399.01,14.62,...,521.72,2388.08,8132.72,8.3922,0.03,392,2388,100.0,38.99,23.2412
9,1,10,42.0066,0.8400,40.0,445.00,549.83,1353.19,1125.09,3.91,...,130.32,2387.91,8085.94,9.3667,0.02,330,2212,100.0,10.75,6.4268

In [8]:
# testing data
test_data = pd.read_table('test.txt',header=None,sep=' ')
test_df = test_data.drop([26, 27], axis=1)
test_df.columns = ['id','cycle','setting1','setting2','setting3','s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']

In [11]:
# 先將 RUL 算出來

In [9]:
#training
df_max_cycle = pd.DataFrame(df.groupby("id")["cycle"].max())
df_max_cycle.reset_index(level=0 , inplace=True)
df_max_cycle.columns = ['id', 'last_cycle']
df_max_cycle.describe()

               id  last_cycle
count  218.000000  218.000000
mean   109.500000  210.633028
std     63.075352   43.595578
min      1.000000  128.000000
25%     55.250000  177.000000
50%    109.500000  209.500000
75%    163.750000  236.000000
max    218.000000  357.000000

In [10]:
df_max_cycle.head()

   id  last_cycle
0   1         223
1   2         164
2   3         150
3   4         159
4   5         357

In [11]:

df = pd.merge(df, df_max_cycle, on="id")
df["ttf"] = df["last_cycle"] - df["cycle"]
df.drop(["last_cycle"], axis=1 , inplace=True)
df.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,10.0047,0.2501,20.0,489.05,604.13,1499.45,1309.95,10.52,...,2388.13,8120.83,8.6216,0.03,368,2319,100.0,28.58,17.1735,222
1,1,2,0.0015,0.0003,100.0,518.67,642.13,1584.55,1403.96,14.62,...,2388.15,8132.87,8.3907,0.03,391,2388,100.0,38.99,23.3619,221
2,1,3,34.9986,0.8401,60.0,449.44,555.42,1368.17,1122.49,5.48,...,2387.95,8063.84,9.3557,0.02,334,2223,100.0,14.83,8.8555,220
3,1,4,20.0031,0.7005,0.0,491.19,607.03,1488.44,1249.18,9.35,...,2388.07,8052.30,9.2231,0.02,364,2324,100.0,24.42,14.7832,219
4,1,5,42.0041,0.8405,40.0,445.00,549.52,1354.48,1124.32,3.91,...,2387.89,8083.67,9.2986,0.02,330,2212,100.0,10.99,6.4025,218

In [13]:
"""
#testing
test_df_max_cycle = pd.DataFrame(test_df.groupby("id")["cycle"].max())
test_df_max_cycle.reset_index(level=0 , inplace=True)
test_df_max_cycle.columns = ['id', 'last_cycle']
test_df_max_cycle.describe()
"""

'\n#testing\ntest_df_max_cycle = pd.DataFrame(test_df.groupby("id")["cycle"].max())\ntest_df_max_cycle.reset_index(level=0 , inplace=True)\ntest_df_max_cycle.columns = [\'id\', \'last_cycle\']\ntest_df_max_cycle.describe()\n'

In [16]:
"""
test_df = pd.merge(test_df, test_df_max_cycle, on="id")
test_df["ttf"] = test_df["last_cycle"] - test_df["cycle"]
test_df.drop(["last_cycle"], axis=1 , inplace=True)
test_df.head()
"""

'\ntest_df = pd.merge(test_df, test_df_max_cycle, on="id")\ntest_df["ttf"] = test_df["last_cycle"] - test_df["cycle"]\ntest_df.drop(["last_cycle"], axis=1 , inplace=True)\ntest_df.head()\n'

In [37]:
from scipy.stats import kurtosis
from tqdm import tqdm

In [57]:
def add_features(df_in, ws):
    
    """Add rolling average and rolling standard deviation for sensors readings using fixed rolling window size.
    
    Args:
            df_in (dataframe)     : The input dataframe to be proccessed (training or test) 
            rolling_win_size (int): The window size, number of cycles for applying the rolling function
        
    Reurns:
            dataframe: contains the input dataframe with additional rolling mean and std for each sensor
    
    """
    
    sensor_cols = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']


    sensor_av_cols = [nm.replace('s', 'av') for nm in sensor_cols]
    sensor_sd_cols = [nm.replace('s', 'sd') for nm in sensor_cols]
    sensor_peak_cols = [nm.replace('s', 'pk') for nm in sensor_cols]
    sensor_rms_cols = [nm.replace('s', 'rms') for nm in sensor_cols]
    sensor_skew_cols = [nm.replace('s', 'skew') for nm in sensor_cols]
    sensor_kurt_cols = [nm.replace('s', 'kurt') for nm in sensor_cols]
    sensor_crest_cols = [nm.replace('s', 'crest') for nm in sensor_cols]
    sensor_clear_cols = [nm.replace('s', 'clear') for nm in sensor_cols]
    sensor_shape_cols = [nm.replace('s', 'shape') for nm in sensor_cols]
    sensor_imp_cols = [nm.replace('s', 'imp') for nm in sensor_cols]

    df_out = pd.DataFrame()
    for m_id in tqdm(pd.unique(df_in.id)):

            # get a subset for each engine sensors
            df_engine = df_in[df_in['id'] == m_id]
            df_sub = df_engine[sensor_cols]


            # get rolling mean for the subset
            av = df_sub.rolling(ws, min_periods=1).mean()
            av.columns = sensor_av_cols

            # get the rolling standard deviation for the subset
            sd = df_sub.rolling(ws, min_periods=1).std().fillna(0)
            sd.columns = sensor_sd_cols

            # get the rolling peak value for the subset
            pk = df_sub.rolling(ws, min_periods=1).max().fillna(0)
            pk.columns = sensor_peak_cols       

            # get the rolling rms for the subset
            rms = lambda d: np.sqrt ((d ** 2) .sum ()/d.size)
            res = df_sub.rolling(ws, min_periods=1).apply (rms).fillna(0)
            res.columns = sensor_rms_cols

            # get the rolling skewness for the subset
            skew = df_sub.rolling(ws, min_periods=1).skew().fillna(0)
            skew.columns = sensor_skew_cols

            # get the rolling skewness for the subset
            kurt = df_sub.rolling(ws, min_periods=1).apply(kurtosis).fillna(0)
            kurt.columns = sensor_kurt_cols

            # get the rolling crest i for the subset
            res_sub = res.copy()
            pk_sub = pk.copy()
            res_sub.columns = sensor_crest_cols
            pk_sub.columns = sensor_crest_cols
            crest = pk_sub/res_sub
            crest.columns = sensor_crest_cols    

            # get the rolling clearance i for the subset
            # get the sub
            sub_f = lambda d: np.square ((d ** 0.5) .sum ()/d.size)
            sub = df_sub.rolling(ws, min_periods=1).apply (sub_f).fillna(0)
            sub.columns = sensor_crest_cols
            clear = pk_sub/sub
            clear.columns = sensor_clear_cols

            # get the rolling shape i for the subset
            av_sub = av.copy()
            av_sub.columns = sensor_crest_cols
            shape = res_sub/av_sub
            shape.columns = sensor_shape_cols

            # get the rolling impulse i for the subset

            imp = pk_sub/av_sub
            imp.columns = sensor_imp_cols

            # combine the two new subset dataframes columns to the engine subset
            new_ftrs = pd.concat([df_engine,av,sd,pk,res,skew,kurt,crest,clear,shape,imp], axis=1)

            # add the new features rows to the output dataframe
            df_out = pd.concat([df_out,new_ftrs])


    
    return df_out

In [ ]:
new_df = add_features(df,5)

100%|████████████████████████████████████████████████████████████████████████████████| 218/218 [15:40<00:00,  4.31s/it]